{% extends 'index3.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>


  <body style="width: 50%; display: inline-block; margin-top: 150px; margin-left: 350px;">

        <div class="container" style="width: 50%;">

          <form action="{% url 'new-password' %}" class="was-validated" method="post">
            {% csrf_token %}

            <div class="form-group">
              {% if msg %}
                <b style="color:blue">{{msg}}</b>
              {% endif %}
              <div>
                <input type="hidden" name="email" value="{{email}}">
              </div>
                <h1 style="text-align: center;">Enter New Password</h1>
                <label for="uotp">Enter New Password :</label>
                <input type="password" class="form-control" name="npassword" placeholder="Enter new-password" required>

                <label for="uotp">Enter Confirm New Password :</label>
                <input type="password" class="form-control" name="cnpassword" placeholder="Enter Confirm new-password" required>
              </div>
            
                
              

            <button type="submit" class="btn btn-primary">Update Password</button>

          </form>
        </div>

  </body>
</html>

{% endblock %}
